@import './utils/reset';
@import './utils/vars';
@import 'webix/webix.min.css';

.sideBar {
  background-color: rgba(255, 255, 0, 0);
  border: none;
  &_item {
    border: none;
  }
}
.asc {
  .webix_button {
    background-color: rgba(121, 246, 169, 0.5);
    color: rgb(53, 46, 19);
  }
}

.desc {
  .webix_button {
    background-color: rgb(121, 236, 246, 0.5);
    color: rgb(53, 46, 19);
  }
}

.off {
  .webix_button {
    background-color: rgba(188, 246, 121, 0.5);
    color: rgb(53, 46, 19);
  }
}
